@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/drawer/mdc-drawer";
@import "~@material/list/mdc-list";
@import "~@material/button/mdc-button";
@import "~@material/typography/mdc-typography";
@import "~@material/textfield/mdc-text-field";
@import "~@material/textfield/icon/mdc-text-field-icon";
@import "~@material/switch/mdc-switch";


@media (min-width: 660px) {
  /* width */
  .scroll::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
  }

  .scroll::-webkit-scrollbar-thumb {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top: 4px solid white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #777;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 40px;
  }


  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: var(--mdc-theme-background, white);
  color: var(--mdc-theme-text-primary, black);
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-top-app-bar__title {
  user-select: none;
  color: var(--mdc-theme--on-primary, white) !important;
}

.mdc-drawer__content {
  padding-left: 16px;
}

.main-content {
  @include mdc-typography(body1);
  overflow: auto;
  height: 100%;
}

table.indextable, table.highlighttable {
  overflow: auto;
  display: block;
}

.documentwrapper {
  padding-top: 64px;
  margin-bottom: 64px;

  @media (min-width: 660px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
  }

}

.body {
  padding: 8px;
}

.app-bar {
  position: absolute;
}

ul.search {
  padding: 0;
  list-style: none;
}

ul.search li {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  overflow-x: auto;
}

ul.search li a {
  text-decoration: none;
}

ul.search li a:hover {
  text-decoration: underline;
}

h1 {
  @include mdc-typography(headline1);

  font-size: 2.8rem;
}

h2 {
  @include mdc-typography(headline2);

  font-size: 2.3rem;
}

h3 {
  @include mdc-typography(headline3);

  font-size: 1.9rem;
}

h4 {
  @include mdc-typography(headline4);

  font-size: 1.5rem;
}

p.centered {
  text-align: center;
}

dd {
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding-left: 3em;
}

dt {
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
}

.tip, .warning, .note, div.deprecated, div.versionchanged, div.versionadded, div.seealso {
  display: block;
  color: #212124;

  border-radius: 4px;
  margin: 2em 0;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

.tip {
  background: var(--mdc-tip, #E6F4EA);
  border-left: 4px solid;
  border-left-color: var(--mdc-tip-border-color, #137333);
  color: var(--mdc-theme-text-primary, black);
}

.warning {
  background: var(--mdc-warning, #FBE9E7);
  border-left: 4px solid;
  border-left-color: var(--mdc-warning-border-color, #ff5722);
  color: var(--mdc-theme-text-primary, black);
}

.note, div.seealso {
  background: var(--mdc-note, #E1F5FE);
  border-left: 4px solid;
  border-left-color: var(--mdc-note-border-color, #0288D1);
  color: var(--mdc-theme-text-primary, black);
}

div.deprecated {
  background: var(--mdc-deprecated, #ffebee);
  border-left: 4px solid;
  border-left-color: var(--mdc-deprecated-border-color, #e53935);
  color: var(--mdc-theme-text-primary, black);
}

span.deprecated {
  font-weight: bold;
  font-style: normal !important;
}

div.versionchanged, div.versionadded {
  background: var(--mdc-changed, #fafafa);
  border-left: 4px solid;
  border-left-color: var(--mdc-changed-border-color, #757575);
  color: var(--mdc-theme-text-primary, black);
}

span.changed, span.versionmodified, span.added {
  font-weight: bold;
  font-style: normal !important;
}

.admonition-title {
  font-weight: bold;
}

a {
  color: var(--mdc-link, #1a73e8);
}

a.headerlink {
  opacity: 0;
  text-decoration: none;
  color: var(--mdc-header-link-color, black);

  &:before {
    content: ' ';
  }

  &:hover {
    color: var(--mdc-link, #1a73e8)
  }
}

h1:hover a.headerlink, h2:hover a.headerlink, h3:hover a.headerlink, h4:hover a.headerlink, h5:hover a.headerlink, h6:hover a.headerlink {
  opacity: 0.5;
}

a.nostylea:not(.title), a.nostylea:active:not(.title), a.nostylea:visited:not(.title), .mdc-list a {
  text-decoration: none;
  color: var(--mdc-theme-text-primary, black) !important;
}

a.reference:hover {
  text-decoration: underline;
}

.mdc-list ul {
  padding: 0;
  list-style: none;
}

li.current a.reference.internal.current {
  font-weight: bold;
}

li.toctree-l1.current {
  border-left: 1px solid;
  border-left-color: var(--mdc-theme-text-primary, black);
  padding-left: .6em;
}

img {
  max-width: 100%;
  display: block;
  margin: 1em auto;
}

pre {
  overflow: auto;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  padding: 14px;
  font-family: 'Roboto Mono', monospace;
}

div.hightlightdefault {
  max-width: 100%;
}

.highlight {
  background: none !important;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 2px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

code {
  font-family: 'Roboto Mono', monospace;
}

div.linenodiv pre {
  padding: 0;
}

td.code {
  padding: 0;
}

div.footer {
  opacity: 0.6;
  padding-left: 4px;
  padding-right: 4px;
}

.highlighted {
  background-color: #f57f17;
}

code.docutils {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--mdc-inline-code, #e8eaed);
  border-radius: 4px;
  padding: 0.1em 0.3em;
}

.highlight .nf, .highlight .s1 {
  color: var(--mdc-highlight-nf, #06287e) !important;
}

.highlight .mi {
  color: var(--mdc-highlight-mi, #208050) !important;
}

.highlight .o {
  color: var(--mdc-highlight-o, #666666) !important;
}

.highlight .k {
  color: var(--mdc-highlight-k, #007020) !important;
}

.mdc-drawer {
  background-color: var(--mdc-elevation, white);
}

.mdc-drawer .mdc-drawer__title {
  color: var(--mdc-theme-text-primary, white) !important;
}

.mdc-drawer .mdc-list-group__subheader {
  color: var(--mdc-theme-text-grey, #00000099) !important;
}

::placeholder {
  color: var(--mdc-theme-text-grey, rgba(0, 0, 0, .541176)) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
  border-bottom-color: var(--mdc-text-field-border-color, #0000006b) !important;
}

input[type=text] {
  color: var(--mdc-theme-text-primary, black) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon {
  color: var(--mdc-theme-text-primary, #0000008a) !important;
}

.highlighted {
  background-color: var(--mdc-highlighted, #ffd43f);
}

a.title {
  text-decoration: none;
  color: var(--mdc-theme--on-primary, white) !important;
}

[data-theme="dark"] {
  --mdc-theme-background: #121212;
  --mdc-theme-text-primary: white;
  --mdc-theme-text-primary-on-background: white;
  --mdc-theme-text-grey: #a4a4a4;
  --mdc-highlighted: #7b410d;

  --mdc-elevation: #111111;

  --mdc-tip: #1b5e20;
  --mdc-tip-border-color: #137333;

  --mdc-note: #01579B;
  --mdc-note-border-color: #0288D1;

  --mdc-warning: #bf360c;
  --mdc-warning-border-color: #E64A19;

  --mdc-deprecated: #B71C1C;
  --mdc-deprecated-border-color: #D32F2F;

  --mdc-changed: #424242;
  --mdc-changed-border-color: #616161;

  --mdc-link: #2196F3;

  --mdc-inline-code: #424242;
  --mdc-highlight-nf: #7ea1fc;
  --mdc-highlight-mi: #33bf79;
  --mdc-highlight-o: #a2a2a2;
  --mdc-highlight-k: #56b571;

  --mdc-text-field-border-color: white;

  --mdc-header-link-color: white;
}
